body {
  padding: 25px;
  background-image: url('minimalistic-glassmorphism-design-with-abstract-gradient-spheres-subtle-pastel-shades_171508-6119.jpg');
  background-size: cover;
  
}

.title {
  color: #13eb50;
  text-shadow: 0 0 10px #5C6AC4, 0 0 20px;
}

.main {
  background-color: rgba(0, 122, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  height: 40%;
  width: 50%;
  margin: 0 auto;
}

.head {
  color: #1260de;
  text-shadow: 0 0 10px #de7412;
}
