body {
background-color: #1A1A1A;
}
/* main Qatar Airways image*/
.Qatarimg {
position: relative;
	top: -6px;
  right: 5px;
  /* position separater*/
width: 101vw;
height: auto;
opacity: 0.9;
pointer-events: none;
  -webkit-touch-callout: none;
}


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* glass boxes */

.glass-wraper {
  position: relative;
  overflow: hidden;
width: 101vw;
}

.glass_1 {
background: rgba(255, 255, 255, 0.16);
border-radius: 20px;
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border-top: 2.8px solid rgba(255, 255, 255, 0.25);
border-left: 2.8px solid rgba(255, 255, 255, 0.25);

width: 67vw;
height: 37vw;
position: absolute;
top: 24vw;
right: 17vw;
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
transition: transform 0.7s ease;
}

.glass_1:hover {
  transform: translateY(-17px);
  box-shadow: 0 0px 40px #119af0;
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);

.intrduction {
  text-shadow: 0 0 20px #f09307;
}




.image-card::after {
  animation: 1s spin linear infinite;
}
}


.pfp {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 position: relative;
-webkit-user-select: none;
  -ms-user-select: none;    
  user-select: none;
  pointer-events: none;
    -webkit-touch-callout: none;

}

.image-card {
 background: #1c1f2b;
 border-radius: 50%;
 width: 150px;
 height: 150px;
 position: absolute;
 top: 25px;
left: 25px;

}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;

}

.image-card:after,.image-card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),#fc7303 , #035afc,#fc7303);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: -1;
padding: 7px;
animation: 2s spin linear infinite;

}



.name {
  font-family: bold;
 font-weight: 1000;
  font-size: 54px;
  position: absolute;
  bottom: 260px;
  left: 189px;
  background: linear-gradient(to right,#0249fa, #ff8521 17%,#0249fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
pointer-events: none;
  -webkit-touch-callout: none;
  margin: 0;
}

.hadele {
font-size: 20px;
color: #3e4245;
position: absolute;
bottom: 210px;
left: 195px;
}

.image-card:before{
  filter: blur(11px);
}

.intrduction {
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 1000;
  font-size: 19px;
color: #03fc24;
position: absolute;
bottom: 35px;
left: 98px;
-webkit-user-select: none;
  -ms-user-select: none;    
  user-select: none;
  margin: 0;
}

.glass_2 {
background: rgba(255, 255, 255, 0.16);

border-radius: 20px; 
box-shadow: 0 0 20px rgba(0,0,0, 0.5);

backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(2.5px);
border-top: 2.8px solid rgba(255, 255, 255, 0.25);
border-left: 2.8px solid rgba(255, 255, 255, 0.25);

width: 400px;
height: 350px;
position: absolute;
top: 740px;
right: 500px;
}

/* Animations */

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
                                  
                                            
                                              
                                                     
                                                          
                            